### 1. How to import pandas and check the version?

In [1]:
import pandas as pd
pd.__version__

'0.24.2'

### 2. How to create a series from a list, numpy array and dict?
 - Create a pandas series from each of the items below: a list, numpy and a dictionary

In [2]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(len(mylist))
mydict = dict(zip(mylist, myarr))
ser1=pd.Series(mylist)
ser2=pd.Series(myarr)
ser3=pd.Series(mydict)

### 3. How to convert the index of a series into a column of a dataframe?
 - Difficulty Level: L1

   Convert the series ser into a dataframe with its index as another column on    the dataframe.

In [115]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
df=pd.DataFrame()
pd.concat([df,ser]).reset_index()

### 4. How to combine many series to form a dataframe?
 - Difficulty Level: L1

   Combine ser1 and ser2 to form a dataframe.

In [4]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26),name='DD')
df=pd.DataFrame()
dd=pd.concat([df,ser2])
dd[ser2.name]=ser1

### 5. How to assign name to the series’ index?
 - Difficulty Level: L1

   Give a name to the series ser calling it ‘alphabets’.

In [5]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name='fdsa'

### 6. How to get the items of series A not present in series B?
 - Difficulty Level: L2

   From ser1 remove items present in ser2.

In [116]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
for a in ser1:
    if a not in list(ser2):
        print(a)
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser1[~ser1.isin(ser2)]

###  8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
 - Difficulty Level: L2

   Get all items of ser1 and ser2 not common to both

In [117]:
ser = pd.Series(np.random.normal(10, 5, 25))
np.percentile(ser,[0,25,50,75,100])

### 9. How to get frequency counts of unique items of a series?
 - Difficulty Level: L1

   Calculte the frequency counts of each unique value ser.

In [118]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

### 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
 - Difficulty Level: L2

    From ser, keep the top 2 most frequent items as it is and replace
    everything else as ‘Other’

In [9]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser.loc[(ser.max()!=ser) & ((ser.max()-1)!=ser)]='Other'
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'

### 11. How to bin a numeric series to 10 groups of equal size?
 - Difficulty Level: L2

   Bin the series ser into 10 equal deciles and replace the values with the bin
   name.

In [10]:
ser = pd.Series(np.random.random(20))

# Solution
# pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

### 12. How to convert a numpy array to a dataframe of given shape? (L1)
 - Difficulty Level: L1

   Reshape the series ser into a dataframe with 7 rows and 5 columns

In [119]:
ser = pd.Series(np.random.randint(1, 10, 35))
arr=np.array(ser)
arr=arr.reshape(7,5)
pd.DataFrame(data=arr)
ser.values.reshape(7,5)

### 13. How to find the positions of numbers that are multiples of 3 from a series?
 - Difficulty Level: L2

   Find the positions of numbers that are multiples of 3 from ser.

In [120]:
ser = pd.Series(np.random.randint(1, 10, 7))
ser[ser.values==(3*3)].index
np.argwhere(ser%3==0)

### 14. How to extract items at given positions from a series
 - Difficulty Level: L1

   From ser, extract the items at positions in list pos

In [121]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.loc[pos]
ser.take(pos)

### 15. How to stack two series vertically and horizontally ?
 - Difficulty Level: L1

   Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [122]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
ser1.append(ser2) # Vertically
pd.concat([ser1,ser2],axis=1) # Horizentally

### 16. How to get the positions of items of series A in another series B?
 - Difficulty Level: L2

   Get the positions of items of ser2 in ser1 as a list.

In [15]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
ser1[ser1.isin(ser2)].index
# Solution 1
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

# Solution 2
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

### 17. How to compute the mean squared error on a truth and predicted series?
 - Difficulty Level: L2

   Compute the mean squared error of truth and pred series.

In [123]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
np.mean((truth-pred)**2)

### 18. How to convert the first character of each element in a series to uppercase?
 - Difficulty Level: L2

   Change the first character of each word to upper case in each word of ser.

In [124]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.str.title()

### 19. How to calculate the number of characters in each word in a series?
 - Difficulty Level: L2

In [125]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
[len(i) for i in ser]
ser.str.len()
ser.map(lambda x:len(x))

### 20. How to compute difference of differences between consequtive numbers of a series?
 - Difficulty Level: L1

   Difference of differences between the consequtive numbers of ser.

In [19]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

def consq(x):
    ser=[]
    c=0
    for i in x:
        c+=1
        if c==len(x):
            return pd.Series(ser)
        else:
            ser.append(float(x[c]-i))
consq(ser)
print(ser.diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]

### 21. How to convert a series of date-strings to a timeseries?
 - Difficiulty Level: L2

In [126]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
pd.to_datetime(ser)

# Solution 1
from dateutil.parser import parse
ser.map(lambda x: parse(x))

### 22. How to get the day of month, week number, day of year and day of week from a series of date strings?
 - Difficiulty Level: L2

   Get the day of month, week number, day of year and day of week from ser.

In [127]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
ser=pd.to_datetime(ser)
ser.dt.month
ser.dt.dayofyear
ser.dt.dayofweek
ser.dt.week

### 23. How to convert year-month string to dates corresponding to the 4th day of the month?
 - Difficiulty Level: L2

   Change ser to dates that start with 4th of the respective months

In [128]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
ser=pd.to_datetime(ser)
ser.dt.year.astype('str')+'-0'+ser.dt.month.astype('str')+'-'+ser.dt.day.astype('str').replace('1','04')

### 24. How to filter words that contain atleast 2 vowels from a series?
 - Difficiulty Level: L2
 
   From ser, extract words that contain atleast 2 vowels

In [23]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
import re
c=0
o=0
vowel=['a','e','i','o','u']
# for i in ser:
#     for w in vowel:
#         if w in i.lower():
#             o+=1
#             if o==2:
#                 o=0
#                 print(i)
#     o=0

### 25. How to filter valid emails from a series?
 - Difficiulty Level: L1

   Extract the valid emails from the series emails. The regex pattern for valid    emails is provided as reference

In [129]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+'
import re
for s in emails:
    print(re.findall(re.compile(r'[\w\.]+@[\w\.]+'),s))
    print(re.findall(re.compile(pattern),s))

### 26. How to get the mean of a series grouped by another series?
 - Difficiulty Level: L2

   Compute the mean of weights of each fruit.

In [25]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
weights.groupby(fruit).mean()

### 27. How to compute the euclidean distance between two series?
 - Difficiulty Level: L2

   Compute the euclidean distance between series (points) p and q, without 
   using a packaged formula.

In [26]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
sum((p - q)**2)**.5

18.16590212458495

### 28. How to find all the local maxima (or peaks) in a numeric series?
 - Difficiulty Level: L3

   Get the positions of peaks (values surrounded by smaller values on both
   sides) in ser.

In [27]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
# Solution
dd = np.diff(np.sign(np.diff(ser)))
peak_locs = np.where(dd == -2)[0] + 1
peak_locs

array([1, 5, 7], dtype=int64)

### 29. How to replace missing spaces in a string with the least frequent character?
 - Replace the spaces in my_str with the least frequent character.

   Difficiulty Level: L2

In [28]:
my_str = 'dbc deb abed gade'
from collections import Counter
for key,val in Counter(my_str).items():
    if val==min(Counter(my_str).values()):
        aa=my_str.replace(' ',key)
        break
aa

'dbccdebcabedcgade'

### 30. How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?
 - Difficiulty Level: L2

In [3]:
start=pd.Series(['2000/01/01'])
start=pd.to_datetime(start)
a=1
v=1
for i in range(1,11):
    if i==1:
         print(start)
    elif a<=28:
        a+=7
        if a>28:
                a=5
                v+=1
                s=start.dt.year.astype('str')+'-'+str(v)+'-'+str(start.dt.day.astype('int')+a)+str(np.random.randint(0,10,1))[0]  
                print(pd.Series(s))
        else:
                s=start.dt.year.astype('str')+'-'+str(v)+'-'+str(start.dt.day.astype('int')+a)+str(np.random.randint(0,10,1))
                print(pd.Series(s))
ser = pd.Series(np.random.randint(1,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
pd.Series(np.random.randint(1,10,10),pd.date_range('2000-01-01',periods=10))

### 31. How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?
 - Difficiulty Level: L2

   ser has missing dates and values. Make all missing dates appear and fill up    with value from previous date.

In [4]:
ser = pd.Series([1,10,3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))


# Solution
ser.resample('D').ffill()  # fill with previous value

# Alternatives
ser.resample('D').bfill()  # fill with next value
ser.resample('D').bfill().ffill()  # fill next else prev value

### 32. How to compute the autocorrelations of a numeric series?
 - Difficiulty Level: L3

   Compute autocorrelations for the first 10 lags of ser. Find out which lag  
   has the largest correlation.

In [5]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))
# Solution
autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]
print(autocorrelations[1:])
print('Lag having highest correlation: ', np.argmax(np.abs(autocorrelations[1:]))+1)

### 33. How to import only every nth row from a csv file to create a dataframe?
 - Difficiulty Level: L2

   Import every 50th row of BostonHousing dataset as a dataframe

In [6]:
pd.read_csv('I:\Text Datasets\CSV\drinks.csv',nrows=3)

### 34. How to change column values when importing csv to a dataframe?
 - Difficulty Level: L2

   Import the boston housing dataset, but while importing change the 'medv' 
   (median house value) column so that values < 25 becomes ‘Low’ and > 25 
   becomes ‘High’.

In [7]:
# Solution 1: Using converter parameter
pd.read_csv('I:\Text Datasets\CSV\drinks.csv', converters={'medv': lambda x: 'High' if float(x) > 25 else 'Low'})

### 35. How to create a dataframe with rows as strides from a given series?
 - Difficiulty Level: L2

In [8]:
L =  pd.Series(range(15))

def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    return np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]])

gen_strides(L, stride_len=2, window_len=4)

### 36. How to import only specified columns from a csv file?
 - Difficulty Level: L1

   Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a 
   dataframe.

In [9]:
pd.read_csv('I:\Text Datasets\CSV\drinks.csv',usecols=[3,2])

### 37. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.
- Difficulty Level: L2

  Get the number of rows, columns, datatype and summary statistics of each  
  column of the Cars93 dataset. Also get the numpy array and list equivalent of 
  the dataframe.

In [10]:
pp=pd.read_csv('I:\Text Datasets\CSV\drinks.csv')
pp.head()
pp.info()

### 38. How to extract the row and column number of a particular cell with given criterion?
 - Difficulty Level: L1

In [11]:
pp=pd.read_csv('I:\Text Datasets\CSV\drinks.csv')
pp.head()
pp[pp.spirit_servings.values==pp.spirit_servings.max()].index
pp[pp.spirit_servings.values==pp.spirit_servings.max()].columns

### 39. How to rename a specific columns in  dataframe?
 - Difficulty Level: L2

   Rename the column Type as CarType in df and replace the ‘.’ in column names 
   with ‘_’.

In [12]:
pp=pd.read_csv('I:\Text Datasets\CSV\drinks.csv')
pp.head()
pp.columns=pp.columns.str.replace('country','---')
pp.rename(columns={'---':'oooooooo'})

### 40. How to check if a dataframe has any missing values?
 - Difficulty Level: L1

   Check if df has any missing values.

In [39]:
pp=pd.read_csv('I:\Text Datasets\CSV\drinks.csv')
pp.isnull().sum()
pp.isnull().values.any()

False

### 41. How to count the number of missing values in each column?
 - Difficulty Level: L2 
   Count the number of missing values in each column of df. Which column has   
   the maximum number of missing values?

In [18]:
df=pd.read_csv('I:\\Text Datasets\\CSV\\titanic.csv')
df.head(2)
df.isnull().sum()

### 42. How to replace missing values of multiple numeric columns with the mean?
 - Difficulty Level: L2

   Replace missing values in Min.Price and Max.Price columns with their  
   respective mean.

In [3]:
# pp=pd.read_csv(r'I:\Text Datasets\CSV\titanic.csv')
# #Example
# pp['Age','Embarked','Cabin'].apply(lambda x:pp.fillna(x.mean()))

### 43. How to use apply function on existing columns with global variables as additional arguments?
 - Difficulty Level: L3

   In df, use apply method to replace the missing values in Min.Price with the 
   column’s mean and those in Max.Price with the column’s median.

In [ ]:
# Solution
d = {'Min.Price': np.nanmean, 'Max.Price': np.nanmedian}
df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x, d: x.fillna(d[x.name](x)), args=(d, ))

### 44. How to select a specific column from a dataframe as a dataframe instead of a series?
 - Difficulty Level: L2

   Get the first column (a) in df as a dataframe (rather than as a Series).

In [ ]:
pp=pd.read_csv(r'I:\Text Datasets\CSV\titanic.csv')
pp[['Name']]

### 45. How to change the order of columns of a dataframe?
 - Difficulty Level: L3

 - Actually 3 questions.

    - In df, interchange columns 'a' and 'c'.
    - Create a generic function to interchange two columns, without hardcoding       column names.

    -  Sort the columns in reverse alphabetical order, that is colume 'e' first 
       through column 'a' last.

In [ ]:
pp=pd.read_csv('I:\Text Datasets\CSV\drinks.csv')
pp.head()
pp.loc[:,np.random.choice(pp.columns,np.array(list(set(np.random.randint(0,len(pp.columns),1)))))]

### 46. How to set the number of rows and columns displayed in the output?
- Difficulty Level: L2

  Change the pamdas display settings on printing the dataframe df it shows a  
  maximum of 10 rows and 10 columns.

In [41]:
pp=pd.read_csv('I:\Text Datasets\CSV\drinks.csv')
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)
pd.reset_option

### 47. How to format or suppress scientific notations in a pandas dataframe?
 -  Difficulty Level: L2

    Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers   
    after decimal.

In [42]:
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
pd.options.display.float_format = None

### 48. How to format all the values in a dataframe as percentages?
 - Difficulty Level: L2

   Format the values in column 'random' of df as percentages.

In [19]:
df = pd.DataFrame(np.random.random(4), columns=['random'])
pd.DataFrame(pd.Series(round(df.random*100,2),name='random').astype('str')+'%')

### 49. How to filter every nth row in a dataframe?
 - Difficulty Level: L1

   From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row 
   starting from 1st (row 0).

In [ ]:
pp=pd.read_csv('I:\Text Datasets\CSV\drinks.csv')
pp.loc[::20,['country','Years']]

### 50. How to create a primary key index by combining relevant columns?
 - Difficulty Level: L2

   In df, Replace NaNs with ‘missing’ in columns 'Manufacturer', 'Model' and   
   'Type' and create a index as a combination of these three columns and check 
   if the index is a primary key.

In [46]:
pp=pd.read_csv('I:\Text Datasets\CSV\drinks.csv')
pp=pp.astype(object)
pp['index']=pp.loc[:].str.cat(['country','beer_servings','continent'],sep='_')

### 51. How to get the row number of the nth largest value in a column? 
 - Difficulty Level: L2

   Find the row position of the 5th largest value of column 'a' in df.

In [19]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))
df.sort_values('c',inplace=True)
df.c.values[-5]

15

### 52. How to find the position of the nth largest value greater than a given value? 
 - Difficulty Level: L2

   In ser, find the position of the 2nd largest value greater than the mean

In [39]:
ser = pd.Series(np.random.randint(1, 100, 15))
ser[ser>ser.mean()].sort_values()[2:3].index[0]

8

### 53. How to get the last n rows of a dataframe with row sum > 100?
 - Difficulty Level: L2

   Get the last two rows of df whose row sum is greater than 100.

In [23]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
def sum_last2rows(data):
    index=[]
    count=0
    for ind,row in data.iterrows():
        if df.iloc[-ind].sum()>100:
            count+=1
            index.append(-ind)
        if count==3:
            break
    return df.iloc[index[1:]]
sum_last2rows(df)

### 54. How to find and cap outliers from a series or dataframe column?
 - Difficulty Level: L2

   Replace all values of ser in the lower 5%ile and greater than 95%ile with 
   respective 5th and 95th %ile value.

In [88]:
ser = pd.Series(np.logspace(-2, 2, 30))
cond=np.percentile(ser,q=[5,95])
ser.loc[ser>cond[0]]=cond[1]
ser.loc[ser<cond[0]]=cond[0]

### 55. How to reshape a dataframe to the largest possible square after removing the negative values?
 - Difficulty Level: L3

   Reshape df to the largest possible square with negative values removed. Drop 
   the smallest values if need be. The order of the positive numbers in the 
   result should remain the same as the original.

In [102]:
# I can't understand properly to this ?
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))
arr = df[df > 0].values.flatten()
arr_qualified = arr[~np.isnan(arr)]

# Step 2: find side-length of largest possible square
n = int(np.floor(arr_qualified.shape[0]**.5))

# Step 3: Take top n^2 items without changing positions
top_indexes = np.argsort(arr_qualified)[::-1]
output = np.take(arr_qualified, sorted(top_indexes[:n**2])).reshape(n, -1)
print(output)

### 56. How to swap two rows of a dataframe?
 - Difficulty Level: L2

   Swap rows 1 and 2 in df

In [204]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
temp=df.loc[0].copy()
df.loc[0]=df.loc[1].copy()
df.loc[1]=temp.copy()
df

### 57. How to reverse the rows of a dataframe?
 - Difficulty Level: L2

   Reverse all the rows of dataframe df.

In [24]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
# df.loc[df.index.sort_values(ascending=False)]
df.iloc[::-1]

### 58. How to create one-hot encodings of a categorical variable (dummy variables)? 
 - Difficulty Level: L2

   Get one-hot encodings for column 'a' in the dataframe df and append it as      columns.

In [25]:
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))
ndf=pd.get_dummies(df.a)
pd.concat([ndf,df],axis=1)

### 59. Which column contains the highest number of row-wise maximum values? 
- Difficulty Level: L2

  Obtain the column name with the highest number of row-wise maximum’s in df.

In [251]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))
print('Column with highest row maxes: ', df.apply(np.argmax, axis=1).value_counts().index[0])

Column with highest row maxes:  1

### 60. How to create a new column that contains the row number of nearest column by euclidean distance?
 - Create a new column such that, each row contains the row number of nearest      row-record by euclidean distance.

   Difficulty Level: L3

In [30]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
def near_to_ed(data):
    ED_VAL=[]
    IND_VAL=[]
    runs=list('abcdefghij')
    for s in range(len(runs)-1):
        ED_VAL.append((sum(data.loc[runs[s]]-data.loc[runs[s+1]])**2)**.5)
        IND_VAL.append(runs[s])
    ED=pd.Series(ED_VAL,name='ED_VALS')
    data.reset_index(inplace=True)
    dataset=pd.concat([data,ED],axis=1)
    dataset.dropna(how='any',inplace=True)
    return dataset.sort_values('ED_VALS')
dd=near_to_ed(df)

### 61. How to know the maximum possible correlation value of each column against other columns?
 - Difficulty Level: L2

   Compute maximum possible absolute correlation value of each column against      other columns in df.

In [66]:
# Input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))
df
# Solution
abs_corrmat = np.abs(df.corr())
max_corr = abs_corrmat.apply(lambda x: sorted(x)[-2])
print('Maximum Correlation possible for each column: ', np.round(max_corr.tolist(), 2))

Maximum Correlation possible for each column:  [0.65 0.65 0.81 0.62 0.79 0.81 0.63 0.4  0.79 0.74]

### 62. How to create a column containing the minimum by maximum of each row?
 - Difficulty Level: L2

   Compute the minimum-by-maximum for every row of df.

In [26]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

#Solution 1
df.apply(lambda x:np.min(x)/np.max(x),axis=1)

#Solution 2
df.loc[:].min(axis=1)/df.loc[:].max(axis=1)

### 63. How to create a column that contains the penultimate value in each row?
 - Difficulty Level: L2

   Create a new column 'penultimate' which has the second largest value of each    row of df.

In [27]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1),columns=list('abcdefghij'))
df['pentilative']=df.apply(lambda x:x.sort_values().unique()[-2],axis=1)
df

### 64. How to normalize all columns in a dataframe?
 - Difficulty Level: L2

   - Normalize all columns of df by subtracting the column mean and divide by  
    standard deviation.
    
   - Range all columns of df such that the minimum value in each column is 0 
     and 
    max is 1.
 - Don’t use external packages like sklearn.

In [28]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
df=df.apply(lambda x:(x-x.mean())/x.std() ,axis=1)
for ind,row in df.iterrows():
    df.loc[ind][df.loc[ind]>0]=1
    df.loc[ind][df.loc[ind]<0]=0
df

### 65. How to compute the correlation of each row with the suceeding row? 
 - Difficulty Level: L2

   Compute the correlation of each row of df with its succeeding row.

In [354]:
# Input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

# Solution
[df.loc[i].corr(df.loc[i+1]).round(2) for i in range(df.shape[0]-1)]

[-0.27, 0.05, -0.39, 0.42, 0.24, -0.06, 0.55]

### 66. How to replace both the diagonals of dataframe with 0?
 - Difficulty Level: L2

   Replace both values in both diagonals of df with 0.

In [393]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))

#Solution 1
def diagnols_zero(dataframe):
    sp=dataframe.shape[0]-1
    for ind,row in dataframe.iterrows():
        dataframe.iloc[ind][ind]=0
        dataframe[sp-ind][ind]=0
    return dataframe
diagnols_zero(df)

#Solution 2
for i in range(df.shape[0]):
    df.iat[i, i] = 0
    df.iat[df.shape[0]-i-1, i] = 0

### 67. How to get the particular group of a groupby dataframe by key?
 - Difficulty Level: L2

   This is a question related to understanding of grouped dataframe. From     
   df_grouped, get the group belonging to 'apple' as a dataframe.

In [29]:
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

#Solution 1
df[df.col1=='apple']

#Solution 2
grp=df.groupby('col1')
grp.get_group('apple')

#Solution 3
for i,diff in grp:
    if i=='apple':
        print(diff)

### 68. How to get the n’th largest value of a column when grouped by another column?
 - Difficulty Level: L2

   In df, find the second largest value of 'taste' for 'banana

In [423]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

#Solution 1
df[df.fruit=='apple'].sort_values('rating').rating.iloc[-2]

#Solution 2
df.groupby('fruit').get_group('apple').sort_values('rating').rating.iloc[-2]

0.4100978066499881

### 69. How to compute grouped mean on pandas dataframe and keep the grouped column as another column (not index)?
 - Difficulty Level: L1

   In df, Compute the mean price of every fruit, while keeping the fruit as  
   another column instead of an index.

In [429]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})
df.groupby('fruit').price.mean()

fruit
apple     3.000000
banana    4.666667
orange    5.666667
Name: price, dtype: float64

### 70. How to join two dataframes by 2 columns so they have only the common rows?
 - Difficulty Level: L2

   Join dataframes df1 and df2 by ‘fruit-pazham’ and ‘weight-kilo’.

In [30]:
# Input
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

# Solution
pd.merge(df1, df2, how='inner', left_on=['fruit', 'weight'], right_on=['pazham', 'kilo'])

### 71. How to remove rows from a dataframe that are present in another dataframe?
 - Difficulty Level: L2

In [31]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] ,
                    'weight': ['high', 'medium', 'low'] ,
                    'price': [20,40,50]})

df2 = pd.DataFrame({'pazham': ['apple', 'banana', 'pine'],
                    'kilo': ['high', 'low','medium'],
                    'price': [20,60,40]})
print(df1[~df1.isin(df2).all(1)])

### 72. How to get the positions where values of two columns match?
 - Difficulty Level: L2

In [613]:
# Input
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})

#Solution 1
df[df.fruit1==df.fruit2].index

#Solution 2
np.where(df.fruit1==df.fruit2)

(array([6], dtype=int64),)

### 73. How to create lags and leads of a column in a dataframe?
 - Difficulty Level: L2

   Create two new columns in df, one of which is a lag1 (shift column a down by 
   1 row) of column ‘a’ and the other is a lead1 (shift column b up by 1 row).

In [13]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

#Solution 1
df['lag_a']=df['a'][1:]
df['lead_a']=df['a'][:df.shape[0]-1]

#Solution 2
df['ss']=df['a'].shift(1)
df['ss1']=df['a'].shift(-1)

### 74. How to get the frequency of unique values in the entire dataframe?
 - Difficulty Level: L2
 
   Get the frequency of unique values in the entire dataframe df.

In [32]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))
pd.value_counts(df.values.ravel())

### 75. How to split a text column into two separate columns?
 - Difficulty Level: L2

   Split the string column in df to form a dataframe with 3 columns as shown.

In [33]:
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])
df

#Solution 1
def spliter(dataframe):
    STD=[dataframe.row.str.split(',')[i][0] for i in range(df.shape[0])]
    CITY=[dataframe.row.str.split(',')[i][1].split('   ')[0] for i in range(df.shape[0])]
    STATE=[dataframe.row.str.split(',')[i][1].split('   ')[1] for i in range(df.shape[0])]
    dataframe['STD']=pd.Series(STD)
    dataframe['CITY']=pd.Series(CITY)
    dataframe['STATE']=pd.Series(STATE)
    return dataframe
spliter(df)